body{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Kdam Thmor Pro', sans-serif;
    overflow-x: hidden;
    
}
html {
  scroll-behavior: smooth;
}
h2{
    margin-top: 0;
}
.navbar{
    width: 100%;
    background-color: white;
    position: fixed;
    height: 6vh;
    z-index: 1100;
     /* position: absolute; */

}
hr{
    /* width: 30%; */
    margin-right: 130px;
    border: none;
    background-color: white;
    height: 1px;
}
.navbar .navbarlinks .test{
    text-decoration: none;
    list-style-type: none;
     position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
.navbar li{
   display: inline;
   margin: 0px 50px;
}

h1{
    color: #1f5014;

}
.homepage{
background-color:#cbddd1 ;
display: block;
height: 100vh;
width: 100vw;

}
.left-home{
    width: 50%;
    float: left;
    margin-top: 70px;
    /* transform: translate(50%,-50%); */
}
.right-home{
    width: 50%;
    float: left;
    margin-top: 70px;
}

button{
    padding: 15px 60px;
    background-color:#f6f6e9 ;
    border: none;
    margin-right: 10px;
    transition: 90ms;
    font-size: 17px;
    width: 30%;
}
.resumebtn:hover{
    transform: scale(1.1);
    cursor: pointer;
    
}
.portbtn:hover {
    transform: scale(1.1);
    cursor: pointer;

}
a {
    color: black;
    text-decoration: none;
}
.navbarlinks a:hover{
   text-decoration: underline;
}
.homepage{
    /* text-align: center; */
    
position: relative;

}
.homecontent{
     /* margin: 0; */
     margin-left: 100px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-90%);
}

.left-home{
    margin-top: 90px;

}
.right-home{
      color: #1f5014;
 

}
i{
     color: #1f5014;
     padding-right: 10px;
}
i:hover{
    color: white;
    cursor: pointer;

}
#emailmetext{
    text-decoration: underline;
}
#homepagenametitle{
    margin-bottom: 145px;
    margin-top: 30px;
}
#aboutmetext{
    margin-bottom: 110px;
    margin-top: 0;
    margin-right: 20px;
}
.icons{
    position: absolute;
    bottom:90px;
    left: 100px;
    font-size: 40px;
    
}

.white-block{
    z-index: 0;
    position: absolute;
    bottom: 30%;
    right: 30%;
    background-color: white;
    width: 100px;
    height: 100px;
    transform: rotate(40deg);
      animation-name: spin;
  animation-duration: 8000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 

}
.green-block{
    z-index: 0;
    position: absolute;
    bottom: 30%;
    right: 35%;
    background-color: #1f5014;
    width: 100px;
    height: 100px;
    transform: rotate(40deg);
    animation-name: spin;
  animation-duration: 7000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
.light-block{
    z-index: 0;
    position: absolute;
    bottom: 35%;
    right: 32%;
    background-color: #c1e2cc;
    width: 100px;
    height: 100px;
    transform: rotate(40deg);
    animation-name: spin;
  animation-duration: 9000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.buttons{
     z-index: 109;
}


/* end of home page */
/* projects page */
.projects-page{
    background-color: #cbddd1;
    z-index: 900;
    width: 100%;
    float: none;
    height: 100vh;
}

/* skills page */
.skills-page{
    height: 100vh;
    background-color:#272727 ;
    color: white;

}
/* contact page */
.contact-page{
    background-color:#1f5014 ;
    color: white;
    height: 100vh;
}


/* media query */
@media only screen and (max-width: 1300px) {
 .navbar li{
   margin: 0px 10px;
}
button{
    width: auto;
}

}